<template>
  <div>
	<center>
		<h1>Home</h1>
		<nuxt-link to="changePassword">Cambiar contraseña </nuxt-link>
	</center>
	

  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>