<template>
	<div>
		<div class="limiter">

<div class="container-login100">
	<div class="wrap-login100 p-t-30 p-b-50">
<span class="login100-form-title p-b-41">
		 Cambiar contraseña
		</span>
		<form class="login100-form validate-form p-b-33 p-t-5"
		@submit.prevent="pressed">

			
			<div class="wrap-input100 validate-input" data-validate="Enter password">
				<input v-model="currentPasswordL" class="input100" type="password" placeholder="Contraseña actual" required>
				
			</div>
			<div class="wrap-input100 validate-input" data-validate="Enter password">
				<input v-model="newPassword" class="input100" type="password" placeholder="Contraseña nueva" required>
				
			</div>
			<div class="wrap-input100 validate-input" data-validate="Enter password">
				<input v-model="confirmPassword" class="input100" type="password" placeholder="Confirmar contraseña" required>
				
			</div>
			

			<div class="container-login100-form-btn m-t-32">
				<button type="submit" class="login100-form-btn">
					Cambiar
				</button>
			</div>

			
			<div class="container-login100-form-btn m-t-32">
				
			</div>
		</form>
	</div>
</div>
</div>
  </div>
</template>

<script>



import firebase from 'firebase/compat/app';
import 'firebase/compat/auth';

export default {
	data(){
		return {
			currentPasswordL:'123456789',
			newPassword:'123456789',
			confirmPassword:'123456789',
			email:'diego.prada@wiedii.co',
			email2:'diegomedina04@outlook.com'
		}
	},
	methods:{
		pressed(){
			if(this.newPassword==this.confirmPassword){
				//firebase.auth().verifyPasswordResetCode
				firebase.auth().sendPasswordResetEmail(this.email).then(user =>{
					console.log(user)
				}).catch(i=> {
					alert(i)
				})

			}else{
				alert('Las contraseñas no son iguales')
			}





			
		}
	}

}
</script>

<style>

@import '../css/auth.css';
@import '../css/util.css';

</style>