<template>
  	<div>
	 <div class="limiter">
 
		 <div class="container-login100">
			 <div class="wrap-login100 p-t-30 p-b-50">
		 <span class="login100-form-title p-b-41">
					Crear cuenta
				 </span>
				 <form class="login100-form validate-form p-b-33 p-t-5"
				 @submit.prevent="pressed">
 
					 <div class="wrap-input100 validate-input" data-validate = "Enter username">
						 <input v-model="email"  class="input100" type="text" placeholder="Correo" required>
						 
					 </div>
 
					 <div class="wrap-input100 validate-input" data-validate="Enter password">
						 <input v-model="password" class="input100" type="password" placeholder="Contraseña" required>
						 
					 </div>
 
					 <div class="container-login100-form-btn m-t-32">
						 <button type="submit" class="login100-form-btn">
							 Login
						 </button>
 
					 </div>
 
					 <div class="container-login100-form-btn m-t-32">
							<nuxt-link to="signup">Registrarse</nuxt-link>
						
					 </div>
					 <div class="container-login100-form-btn m-t-32">
						 
					 </div>
				 </form>
			 </div>
 </div>
 </div>
	</div>
</template>

<script>


import firebase from 'firebase/compat/app';
import 'firebase/compat/auth';


export default {

	data(){
		return{
			email: 'diego.prada@wiedii.co',
			password: '123456789'
		}
	},

	methods:{

		pressed(){
		
			firebase.auth().createUserWithEmailAndPassword(this.email, this.password).then(user=>{
				console.log(user)
				alert('usuario creado')
			}).catch(i =>{
				alert(i)
			})
		}

	},

}
</script>

<style>

@import '../css/auth.css';
 @import '../css/util.css';

</style>
